# Twitch Recommendation System

Description

This is a dataset of users consuming streaming content on Twitch. We retrieved all streamers, and all users connected in their respective chats, every 10 minutes during 43 days.

Metadata

Start and stop times are provided as integers and represent periods of 10 minutes. Stream ID could be used to retrieve a single broadcast segment from a streamer (not used in our work).
1. User ID (anonymized)
2. Stream ID
3. Streamer username
4. Time start
5. Time stop

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('100k_a.csv', names=['user_id', 'stream_id', 'streamer_user', 'time_start', 'time_stop'])

In [7]:
data

         user_id    stream_id   streamer_user  time_start  time_stop
0              1  33842865744        mithrain         154        156
1              1  33846768288           alptv         166        169
2              1  33886469056        mithrain         587        588
3              1  33887624992            wtcn         589        591
4              1  33890145056       jrokezftw         591        594
...          ...          ...             ...         ...        ...
3051728   100000  34167930576          mckytv        3582       3583
3051729   100000  34168288656        natehill        3582       3583
3051730   100000  34169594512        fortnite        3582       3584
3051731   100000  34180223072  highdistortion        3709       3711
3051732   100000  34181187808        symfuhny        3706       3708

[3051733 rows x 5 columns]